DISCORD_TOKEN=
CLIENT_ID=
GUILD_ID=
BOT_API_SECRET=
ADMIN_PANEL_PASSWORD=
ADMIN_HTTP_HOST=127.0.0.1
ADMIN_HTTP_PORT=8080
SHY_STAGE_BASE_NAME=sleepy singing
SHY_STAGE_UNUSED_DELETE_MINUTES=5
SHY_STAGE_EMPTY_DELETE_MINUTES=15
SHY_STAGE_CLEANUP_INTERVAL_SECONDS=60
SHY_STAGE_LIMIT_CHOICES=5,10,15,unlimited
